/data
node_modules/
/dist
/build
.vite/
*.local
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

__pycache__/
*.py[cod]
*$py.class


.venv/
.env/


.ipynb_checkpoints/

.env
.env.local
.env.*.local
.gitattributes


.DS_Store
Thumbs.db


.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp